<html lang="en">
  <head>
    <title>Orbcraft Online - basic theme </title>
  </head>
  <body>
    <h1>Orbcraft Online - basic theme </h1>


    <%- include('layouts/' + layout) %>


    <script src="/js/angularjs/1.7.2/angular.min.js"></script>
    <script>
        //var app = angular.module('first', []);
    </script>

  </body>
</html>